@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "andika";
}

.line {
  width: 100px;
  height: 4px;
  background-color: #0d6efd;
  border-radius: 2px;
}

#active {
  color: #0d6efd;
}

.navbar-toggler {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

#login-icon {
  font-size: 1.2rem;
}

nav {
  padding: 20px !important;
}